footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 75px;
  background-color: #fff;
  box-shadow: 0px -4px 10px #000;
  .copyright {
    text-align: center;
    padding: 25px;
    img {
      aspect-ratio: attr(width) / attr(height);
    }
    span {
      font-size: 1.3rem;
    }
  }
}
