header {
   display: flex;
   justify-content: space-between;
   height: 50px;
   line-height: 50px;
   background: linear-gradient(
      110deg,
      #fff 70%,
      $gradient_two 60%,
      $gradient_one
   );
   h1 {
      margin: auto 50px;
      font-size: 2rem;
   }
   #path {
      font-size: 1.3rem;
      text-decoration: none;
      color: #fff;
      margin: auto 50px;
   }
}
