main {
   width: 100%;
   height: 87vh;
   background: linear-gradient(
      110deg,
      $gradient_one,
      $gradient_two 60%,
      #fff 60%
   );
   section {
      padding: 50px;
      width: 80%;
      background-color: #fff;
      border-radius: 7px;
      box-shadow: 3px 3px 10px #000;
   }
}
