form {
   position: relative;
   display: flex;
   justify-content: space-around;
   padding: 75px;
   fieldset {
      margin-top: 10px;
      border-radius: 7px;
      border: none;
      background: linear-gradient(110deg, $gradient_two, $gradient_one);
      background-color: $white_color;
      width: 30%;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.661);
      padding: 50px;
      legend {
         padding: 7px;
         border-radius: 7px;
         background-color: rgba(255, 255, 255, 0.622);
         box-shadow: 3px 3px 3px #000;
         font-weight: bold;
      }
      .inputs {
         width: 85%;
         label {
            font-weight: bold;
         }
         input {
            width: 100%;
            height: 25px;
            font-size: 1.1rem;
         }
      }
   }

}
