.modale {
   position: relative;
   width: 75%;
   height: 150px;
   line-height: 150px;
   margin: auto;
   border: solid 1px;
   border-radius: 7px;
   padding: 50px;
   text-align: center;
   font-size: 2rem;
   box-shadow: 3px 3px 8px #000;
   #x {
      position: absolute;
      border-radius: 100%;
      border: solid 2px #000;
      padding: 4px 8px;
      background: #fff;
      color: #000;
      font-size: 1.2rem;
      font-weight: bold;
      top: -12px;
      right: -12px;
      cursor: pointer;
   }
}
